
<!--使用する拡張セットにチェック-->
<div>
    <md-slide-toggle [(ngModel)]="AllSetsSelected"  (change)="selectAllToggle( $event )"><b>全選択</b></md-slide-toggle>
</div>
<div *ngFor="let DominionSet of DominionSetList" >
    <md-slide-toggle [(ngModel)]="DominionSet.selected">{{DominionSet.name}}</md-slide-toggle>
</div>



<button md-button color='primary' (click)='randomizerClicked()'>Randomizer</button>


<table class='my-data-table my-data-table--shadow3px my-data-table--vertical-line'>
    <tr>
        <td>a</td>
        <td>b</td>
        <td>c</td>
    </tr>
    <tr>
        <td>a</td>
        <td>b</td>
        <td>c</td>
    </tr>
</table>

<!--
<my-data-table
    [data]='CardPropertyListForView'
    [columnSettings]='columnSettings'
    [itemsPerPageOptions]='itemsPerPageOptions'
    [itemsPerPageDefault]='itemsPerPageDefault'
    (onClick)='showDetail( $event )'
>
</my-data-table>-->

<!--
<md-list *ngFor="let DominionSet of DominionSetList" >
    <md-list-item>
        <md-checkbox [(ngModel)]="DominionSet.useThis">{{DominionSet.name}}</md-checkbox>
    </md-list-item>
</md-list>-->

