
<!--使用する拡張セットにチェック-->


<md-tab-group>

    <md-tab label="Randomizer">
        <my-waiting-spinner *ngIf="!httpGetDone"></my-waiting-spinner>

        <div *ngIf="httpGetDone">

            <div id="randomizerOptions">
                <div>
                    <md-slide-toggle [(ngModel)]="AllSetsSelected"  (change)="selectAllToggle( $event )">
                        <b>全選択</b>
                    </md-slide-toggle>
                </div>
                <div *ngFor="let DominionSet of DominionSetNameList" >
                    <md-slide-toggle [(ngModel)]="DominionSet.selected">
                        {{DominionSet.name}}
                    </md-slide-toggle>
                </div>

                <div class="marginedElement">
                    <button md-raised-button color='primary' (click)='randomizerClicked()'>
                        Randomizer
                    </button>
                </div>
            </div>


            <div id="supplyTable">
                <div class="Prosperity_DarkAges">
                    <span id="Prosperity" *ngIf="SelectedCards.KingdomCards10.length > 0">
                        <md-slide-toggle [(ngModel)]="SelectedCards.Prosperity">
                            植民地場
                        </md-slide-toggle>
                    </span>

                    <span id="DarkAges"   *ngIf="SelectedCards.KingdomCards10.length > 0">
                        <md-slide-toggle [(ngModel)]="SelectedCards.DarkAges">
                            避難所場
                        </md-slide-toggle>
                    </span>
                </div>

                <table class='my-data-table my-data-table--shadow3px my-data-table--vertical-line'>
                    <thead>
                        <tr *ngIf="SelectedCards.KingdomCards10.length > 0">
                            <th>セット</th>
                            <th>名前</th>
                            <th>name</th>
                            <th>コスト</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let cardIndex of SelectedCards.KingdomCards10">
                            <td> {{ CardPropertyList[cardIndex].set_name }} </td>
                            <td> {{ CardPropertyList[cardIndex].name_jp  }} </td>
                            <td> {{ CardPropertyList[cardIndex].name_eng }} </td>
                            <td> {{ CardPropertyList[cardIndex].costStr() }} </td>
                        </tr>
                    </tbody>

                    <thead>
                        <tr *ngIf="SelectedCards.BaneCard.length > 0">
                            <th colspan="4">災いカード（魔女娘用）</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cardIndex of SelectedCards.BaneCard">
                            <td> {{ CardPropertyList[cardIndex].set_name }} </td>
                            <td> {{ CardPropertyList[cardIndex].name_jp  }} </td>
                            <td> {{ CardPropertyList[cardIndex].name_eng }} </td>
                            <td> {{ CardPropertyList[cardIndex].costStr() }} </td>
                        </tr>
                    </tbody>

                    <thead>
                        <tr *ngIf="SelectedCards.EventCards.length > 0">
                            <th colspan="4">Event</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cardIndex of SelectedCards.EventCards">
                            <td> {{ CardPropertyList[cardIndex].set_name }} </td>
                            <td> {{ CardPropertyList[cardIndex].name_jp  }} </td>
                            <td> {{ CardPropertyList[cardIndex].name_eng }} </td>
                            <td> {{ CardPropertyList[cardIndex].costStr() }} </td>
                        </tr>
                    </tbody>

                    <thead>
                        <tr *ngIf="SelectedCards.LandmarkCards.length > 0">
                            <th colspan="4">LandmarkCards</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cardIndex of SelectedCards.LandmarkCards">
                            <td> {{ CardPropertyList[cardIndex].set_name }} </td>
                            <td> {{ CardPropertyList[cardIndex].name_jp  }} </td>
                            <td> {{ CardPropertyList[cardIndex].name_eng }} </td>
                            <td> {{ CardPropertyList[cardIndex].costStr() }} </td>
                        </tr>
                    </tbody>

                    <thead>
                        <tr *ngIf="SelectedCards.Obelisk.length > 0">
                            <th colspan="4">Obelisk 指定カード</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cardIndex of SelectedCards.Obelisk">
                            <td> {{ CardPropertyList[cardIndex].set_name }} </td>
                            <td> {{ CardPropertyList[cardIndex].name_jp  }} </td>
                            <td> {{ CardPropertyList[cardIndex].name_eng }} </td>
                            <td> {{ CardPropertyList[cardIndex].costStr() }} </td>
                        </tr>
                    </tbody>

                    <thead>
                        <tr *ngIf="SelectedCards.BlackMarketPile.length > 0">
                            <th colspan="4">闇市場デッキ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cardIndex of SelectedCards.BlackMarketPile">
                            <td> {{ CardPropertyList[cardIndex].set_name }} </td>
                            <td> {{ CardPropertyList[cardIndex].name_jp  }} </td>
                            <td> {{ CardPropertyList[cardIndex].name_eng }} </td>
                            <td> {{ CardPropertyList[cardIndex].costStr() }} </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="clear"></div>

        </div>

        <hr>

        <div *ngIf="httpGetDone" >
            <app-randomizer-card-image
                [SelectedCards]="SelectedCards"
                [CardPropertyList]="CardPropertyList">
            </app-randomizer-card-image>
        </div>

    </md-tab>

    <md-tab *ngIf="SelectedCards.BlackMarketPile.length > 0" label="闇市場デッキ">
        闇市場デッキ
    </md-tab>
    <md-tab label="結果入力">
        <app-add-game-result
            [SelectedCards]="SelectedCards"
            [DominionSetNameList]="DominionSetNameList"
            [CardPropertyList]="CardPropertyList">
        </app-add-game-result>
    </md-tab>
</md-tab-group>
