
<div>

    <div class="pagerWrapper">
        <my-data-table--items-per-page
                [itemsPerPageDefault]='itemsPerPageDefault'
                [itemsPerPageOptions]='itemsPerPageOptions'
                [(itemsPerPage)]='itemsPerPage' >
        </my-data-table--items-per-page>

        <my-data-table--pagenation
                [dataSize]='filteredData.length'
                [itemsPerPage]='itemsPerPage'
                [(selectedPageIndex)]='selectedPageIndex'>
        </my-data-table--pagenation>

        <my-data-table--reset-buttons (click)='reset()' >
        </my-data-table--reset-buttons>

        <span>{{filteredData.length}} items</span>
        <div class='clear'></div>
    </div>



    <my-data-table-body
        [data]="this.getDataAtPage( this.selectedPageIndex )"
        [(filteredData)]="filteredData"
        [columnSettings]='columnSettings'>
    </my-data-table-body>



    <div class="pagerWrapper">
        <my-data-table--items-per-page
                [itemsPerPageDefault]='itemsPerPageDefault'
                [itemsPerPageOptions]='itemsPerPageOptions'
                [(itemsPerPage)]='itemsPerPage' >
        </my-data-table--items-per-page>

        <my-data-table--pagenation
                [dataSize]='filteredData.length'
                [itemsPerPage]='itemsPerPage'
                [(selectedPageIndex)]='selectedPageIndex'>
        </my-data-table--pagenation>

        <my-data-table--reset-buttons (click)='reset()' >
        </my-data-table--reset-buttons>

        <span>{{filteredData.length}} items</span>
        <div class='clear'></div>
    </div>


</div>
