<p>
  Dominion Apps
</p>
<!--<img src="./450px-DominionOnlineLogo.jpg" alt="Dominion">-->
<!--<div class='card'></div>-->

<ul>
  <li>Online</li>
  <li><a routerLink="/dominion/randomizer"    > Randomizer       </a></li>
  <li><a routerLink="/dominion/gameresultlist"> Game Result List </a></li>
  <li><a routerLink="/dominion/players"       > Players          </a></li>
  <li><a routerLink="/dominion/rulebooks"     > RuleBooks        </a></li>
  <li><a routerLink="/dominion/cardlist"      > Cardlist         </a></li>
</ul>


<!--<app-cardlist [CardInfoList]="CardInfoList"></app-cardlist>-->
