
<div class='noshiro-data-table--box'>

  <noshiro-data-table--items-per-page
      [itemsPerPageOptions]='itemsPerPageOptions'
      [itemsPerPageDefault]='itemsPerPage'
      (submitItemsPerPage)='setItemsPerPage($event); setSelectedPageIndex(0)'
    >
  </noshiro-data-table--items-per-page>

  <noshiro-data-table--pagenation
      [selectedPageIndex]='selectedPageIndex'
      [itemsPerPage]='itemsPerPage'
      [dataSize]='CardPropertyListFiltered.length'
      (changeSelectedPageIndex)='setSelectedPageIndex($event)'
    >
  </noshiro-data-table--pagenation>

  
  <noshiro-data-table--reset-buttons (click)='reset()' >
  </noshiro-data-table--reset-buttons>

  <span>{{this.CardPropertyListFiltered.length}} items</span>

  <div class='clear'></div>

  <table class='noshiro-data-table noshiro-data-table--shadow3px noshiro-data-table--vertical-line'>
    <thead>
      <tr>
        <noshiro-data-table--table-header
            (onChange)="updateView()"
            [(columnSettings)]="columnSettings"
            [selectorOptions]="selectorOptions" >
        </noshiro-data-table--table-header>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let line of this.getDataAtPage( this.selectedPageIndex )'>
        <td *ngFor='let column of columnSettings'
            [class.noshiro-data-table--cell-alignLeft]  ="column.align=='l'"
            [class.noshiro-data-table--cell-alignCenter]="column.align=='c'"
            [class.noshiro-data-table--cell-alignRight] ="column.align=='r'" >
          {{ line[column.columnName] | cardPropertyForView :column.columnName }}
        </td>
      </tr>
    </tbody>
  </table>

</div>
