
<th *ngFor='let column of columnSettings'
    [class.noshiro-data-table--cell-alignLeft]  ="column.align == 'l' "
    [class.noshiro-data-table--cell-alignCenter]="column.align == 'c' "
    [class.noshiro-data-table--cell-alignRight] ="column.align == 'r' " >

  <span *ngIf="column.manip == 'sort'">
    {{column.headerTitle}}
  </span>

  <!--
  <button md-button disableRipple *ngIf="column.manip == 'sort'"
      class="headerSortButton"
      (click)="sortColumn( column.manipState, column.columnName )" >
    {{column.headerTitle}}
    <md-icon *ngIf="column.manipState == 'accending' " class='sortIcon'>arrow_drop_up</md-icon>
    <md-icon *ngIf="column.manipState == 'descending'" class='sortIcon'>arrow_drop_down</md-icon>
  </button>-->

  <ng-container *ngIf="column.manip == 'filterBySelecter'">
    <md-select
        [(ngModel)]="column.manipState"
        [placeholder]="column.headerTitle"
        (change)="updateView()" >
      <md-option *ngFor="let valueInThisColumn of selectorOptions[ column.columnName ]"
          [value]="valueInThisColumn">
        {{ valueInThisColumn | cardPropertyForView :column.columnName }}
      </md-option>
    </md-select>
    <button md-icon-button (click)="reset( column.columnName )">
      <md-icon class='clearSelectIcon'>clear</md-icon>
    </button>
  </ng-container>

  <md-input-container *ngIf="column.manip == 'incrementalSearch'" >
    <input mdInput
      id="filteringInputBox"
      [placeholder]="column.headerTitle"
      [(ngModel)]="column.manipState"
      (keyup)="updateView()" >
  </md-input-container>
</th>
